<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= locals.test %>'s page
    </title>
    <link rel="stylesheet" href="assets/semantic/semantic.min.css" media="all" />
    <link rel="stylesheet" href="assets/style.css" media="all" />
</head>

<body>
    <div class="ui fixed inverted menu">
        <a href="/" class="header item">Home</a>
    </div>
    <div class="ui main container">
        <% if(locals.flash && locals.flash.error) { %>
        <div class="ui negative message">
            <%= flash.error %>
        </div>
        <% } %>